<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.springboot.dao.PlaylistDAO">
	
	
	<!-- 새 재생목록 만들기 -->
	<insert id="createNewPlaylist" parameterType="MyPlaylistDTO" useGeneratedKeys="false">
	
		INSERT INTO
			my_playlist (
				playlist_id,
				playlist_name,
				track_count,
				user_id
			)
		VALUES 
			(
			seq_playlist_id.nextval,
			'새 재생목록',
			null,
			#{user_id}
			)
	<!-- <selectKey keyProperty="리턴 받을 변수명" resultType="반환타입"
					order="BEFORE(쿼리문 전에 실행할 경우), AFTER(쿼리문 이후에 실행할 경우)" -->
		<selectKey keyProperty="playlist_id" resultType="int" order="AFTER">
			SELECT 
				seq_playlist_id.currval
			FROM 
				dual
		</selectKey>
	</insert>
	
	<!-- 재생목록 이름 불러오기 -->
	<select id="selectPlaylistName" parameterType="MyPlaylistDTO" resultType="String">
		SELECT
			playlist_name
		FROM
			my_playlist
		WHERE
			playlist_id = #{playlist_id}
	</select>
	
	<!-- 재생목록 곡 수 불러오기 -->
	<select id="countTracksFromPlaylist" parameterType="MyPlaylistDTO" resultType="int">
		SELECT
			count(*)
		FROM
			playlist
		WHERE
			playlist_id = #{playlist_id}
	</select>
	
	<!-- 재생목록 이미지 불러오기 -->
	<select id="selectPlaylistImg" parameterType="MyPlaylistDTO" resultType="String">
		SELECT
			playlist_img
		FROM
			my_playlist
		WHERE
			playlist_id = #{playlist_id}
	</select>
	
	<!-- 유저 재생목록 목록 불러오기 -->
	<select id="loadPlaylist" parameterType="MyPlaylistDTO" resultType="MyPlaylistDTO">
		SELECT
			playlist_id,
			playlist_name,
			playlist_img,
			user_id
		FROM
			my_playlist
		WHERE
			user_id = #{user_id}
	</select>
	
	<!-- 재생목록에 곡 추가 -->
	<insert id="insertTrackIntoPlaylist" parameterType="PlaylistDTO">
		INSERT INTO
			playlist (
				playlist_id,
				track_id
			)
		VALUES
			(
			#{playlist_id},
			#{track_id}
			)
	</insert>
	
	<!-- 재생목록에 있는 곡 불러오기 -->
	<select id="loadPlaylistTracks" parameterType="playlistDTO">
		SELECT
			mp.playlist_id,
			t.track_id,
			a.album_img,
			t.title,
			a.album_name,
			ar.artist
		FROM
			my_playlist mp
		JOIN
			playlist p ON mp.playlist_id = p.playlist_id
		JOIN
			tracks t ON p.track_id = t.track_id
		JOIN
			albums a ON t.album_id = a.album_id
		JOIN
			artists ar ON t.artist_id = ar.artist_id
		WHERE
			mp.playlist_id = #{playlist_id}
	</select>
</mapper>







