@charset "EUC-KR";

	#mainpage_body {
        margin: 20px 120px;
        padding: 0;
        font-family: Arial, sans-serif;
        color: #3f3f3f;
    }
    
    #blackword{
    	color: black;
    }
    
    #boldword{
    	 font-weight: bold;
    }
	#body_top_section {
		display : flex;
		flex-direction : row;
		justify-content: space-between;	
		height: 491px;
	}	
	#top10_chart ol {
	    border: 1px solid #ccc;
	    padding: 10px;
	    margin: 0;
	    list-style: none;	    
	}

	#top10_chart ol li {
	    padding: 5px;
	    margin-bottom: 5px;
	    border-bottom: 1px solid #ccc;
	    white-space: nowrap;
    	transition: transform 0.3s ease-in-out;
    	overflow: hidden;
	    text-overflow: ellipsis;
	    width: 300px;
	}

	#top10_chart ol li:hover {
	    transform: scale(1.1);
	}

	#top10_chart ol li:hover img {
	    display: block;
	}
	
	#top10_chart ol li img {
	    display: none;
	    width: 50px;
	    height: 50px;
	}
	
	#top10_title {
    float: left;
   	overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
	}	
	#top10_artist {
	    float: right;
	}
	
	#top10_chart a {
    color: gray;
    text-decoration: none;
	}
	
	#top10_chart a:hover {
    color: black;
    text-decoration: none;
	}
	
	.grid_img_wrapper {
	  position: relative;
	  display: inline-block;
	}
	
	.grid_info {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 86%;
	  height: 92%;
	  opacity: 0;
	  visibility: hidden;
	  background-color: rgba(0, 0, 0, 0.8);
	  padding: 5px 10px;
	  color: #fff;
	  transition: opacity 0.3s, visibility 0.3s;
	  display:flex;
	  flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	}
	
	.grid_title,
	.grid_artist {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  text-align: center;
	  width: 140px;
	}
	
	.grid_title:hover,
	.grid_artist:hover {
	  text-decoration: underline;
	}	
	.grid_title {
	  font-weight: bold;
	}
	#grid_states {
	 	font-weight: bold;
	 	font-size:16px;
	}
	
	#grid_click {
		color: white;
		text-decoration: none;
	}
	
	.grid_img_wrapper:hover .grid_info {
	  opacity: 1;
	  visibility: visible;
	}
	
	 .track_grid_container {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column;
  	}

	.track_grid_item img {
	  width: 150px;
	  height: auto;
	  border: 1px solid gray;

	}
  .track_grid_item {
  	width: 637px;
  	/*margin-top: 58px;*/
	padding: 1px;
  }
  .grid_controller {  	
  	display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 14px;
    margin-top: 58px;  
  }
  
	#grid_controller_button {
	  margin-right: 15px;
	}
	
	.circle_button {
	  width: 5px;
	  height: 14px;
	  background-color: white;
	  border: 1px solid gray;
	  border-radius: 50%;
	  margin-right: 0px;
	  cursor: pointer;
	}
	
	.circle_button.active {
	  background-color: black;
	}
	
	#body_bottom_section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .bottom_artist_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom_artist_img {
    width: 100%;
    height: auto;
    max-width: 200px;
    transition: transform 0.3s ease;
  }
  
  .bottom_artist_img:hover {
    transform: scale(1.2);
  }

  .bottom_artist_info {
    margin-top: 10px;
  }

  .bottom_artist {
    font-size: 14px;
    font-weight: bold;
  }	
	
	#top10_chart a {
    color: gray;
    text-decoration: none;
	}
	
	#top10_chart a:hover {
    color: black;
    text-decoration: none;
	}